<%- include ('partials/header.ejs') %>

  <body>
    <!-- <%- include ('partials/navbar.ejs') %> -->

    <h1>Cadastro de consulta</h1>
    <hr>
    <form method="post" action="create">
      <input type="text" name="placa" id="placa" placeholder="Placa" class="form-control">
      <input type="text" name="fabricante" id="fabricante" placeholder="Fabricante" class="form-control">
      <input type="text" name="modelo" id="modelo" placeholder="Nome do veículo" class="form-control">
      <input type="text" name="anoFab" id="anoFab" placeholder="Ano de fabricação" class="form-control">
      <input type="text" name="categoria" id="categoria" placeholder="Categoria" class="form-control">
      <input type="text" name="combustivel" id="combustivel" placeholder="Combustível" class="form-control">
      <input type="text" name="kmTotal" id="kmTotal" placeholder="Quilometragem total" class="form-control">
      <input type="text" name="kmProxManu" id="kmProxManu" placeholder="Quilometragem da proxima manutenção"
        class="form-control">
      <input type="text" name="dataManu" id="dataManu" placeholder="Data da próxima manutenção" class="form-control">
      <input type="text" name="descriManu" id="descriManu" placeholder="Descrição do serviço" class="form-control">
      <hr>
      <button class="btn btn-success">Agendar</button>
    </form>

  </body>
  <%- include ('partials/footer.ejs') %>