<%- include ('partials/header.ejs') %>

  <body>
    <!-- <%- include ('partials/navbar.ejs') %> -->

    <h1>Cadastro de consulta</h1>
    <hr>
    <form method="post" action="create">
      <input type="text" name="modelo" id="modelo" placeholder="Nome do veículo" class="form-control">
      <input type="text" name="fabricante" id="fabricante" placeholder="Fabricante" class="form-control">
      <input type="text" name="anoFabricacao" id="anoFabricacao" placeholder="Ano de fabricação" class="form-control">
      <input type="text" name="anoModelo" id="anoModelo" placeholder="Ano do modelo" class="form-control">
      <input type="text" name="combustivel" id="combustivel" placeholder="Combustível" class="form-control">
      <input type="text" name="carroceria" id="carroceria" placeholder="Tipo de carroceria" class="form-control">
      <input type="text" name="descricao" id="descricao" placeholder="Descrição" class="form-control">
      <input type="text" name="autor" id="autor" placeholder="Autor" class="form-control">
      <input type="date" name="date" id="date" placeholder="Data" class="form-control">
      <input type="time" name="time" id="time" class="form-control">
      <input type="checkbox" name="reservado" id="invalidCheck" placeholder="Descrição" class="form-check-input" value="">
      <hr>
      <button class="btn btn-success">Agendar</button>
    </form>

  </body>
  <%- include ('partials/footer.ejs') %>